@import "~bootstrap/scss/bootstrap.scss";

.navbar {
    padding: 0.5em 15em 0.5em 15em;
}

.jumbotron {
    margin-bottom: 15px;
}

.card {
    margin-left: 8px;
    width: 267px; //can also be 256px
}


/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/
